@page "/CourseDetail/{courseId:int}"

@using TeddyBlazor.Models
@using TeddyBlazor.Services
@using TeddyBlazor.Components
@using TeddyBlazor.Components.ClassDetailComponents
@using TeddyBlazor.ViewModels.ClassDetail

@inject CourseDetailViewModel vm

<AuthorizeView>
    <Authorized>

    <h1>@vm.Course.CourseName Assignments</h1>
    <div class="jumbotron centered">
        <div class="accordion" id="assignmentAccordion">
        @foreach(var assignment in vm.Assignments)
        {
            <div class="card">
                <div class="card-header" id="@getHeadingTag(assignment.AssignmentId)">
                    <h2 class="mb-0">
                        <button class="btn btn-link"
                                type="button"
                                data-toggle="collapse"
                                data-target="#@getCollapseTag(assignment.AssignmentId)"
                                aria-expanded="false" 
                                aria-controls="@getCollapseTag(assignment.AssignmentId)">
                            <h5>@assignment.AssignmentName</h5>
                        </button>
                    </h2>
                </div>

                <div id="@getCollapseTag(assignment.AssignmentId)"
                    class="collapse"
                    aria-labelledby="@getHeadingTag(assignment.AssignmentId)"
                    data-parent="#assignmentAccordion">
                    <div class="card-body">
                        @assignment.AssignmentDescription
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
    </Authorized>
    <NotAuthorized>

        <div class="top-row px-4" style="background-color: lightslategray;">
        </div>

        <LoginDisplay />
    </NotAuthorized>
</AuthorizeView>


@code {

    [Parameter]
    public int courseId { get; set; }

    private string getHeadingTag(int assignmentId)
    {
        return $"heading{assignmentId}";
    }
    private string getCollapseTag(int assignmentId)
    {
        return $"collapse{assignmentId}";
    }

    protected override void OnInitialized()
    {
        vm.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        await vm.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        vm.OnParametersSet();
    }

    protected override async Task OnParametersSetAsync()
    {
        vm.CourseId = courseId;
        await vm.OnParametersSetAsync();
    }
}
